@import "_variables";

.header-global {
  text-align: center;
  margin-bottom: $spacing-small;
}

.header-global__titles {
  background: $color-black;
  padding: $spacing-smallest;

  > a:link,
  > a:visited,
  > a:hover,
  > a:active {
    display: block;
    color: $color-white;
  }

  > a:nth-child(even) {
    font-style: italic;
  }
}

.header-global__nav {
  margin: $spacing-smallest 0;
  > a {
    padding: $spacing-smallest;
  }
}

.search-form {
  .has-js & {
    display: none;
  }

  &.is-visible {
    display: block;
  }
  > input,
  > button {
    border: 1px solid lighten($color-black, 50%);
    padding: 3px;
  }
  > button:hover {
    cursor: pointer;
  }
}

.pagination {
  text-align: center;
  span, a {
    padding: 0 $spacing-smallest;
  }
}