@import "_variables";

body {
    font: #{$font-medium}/#{$line-height} $font-sans;
    color: $color-text;
    letter-spacing: 1px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $color-orange;
  word-wrap: break-word;
}

p {
  a,
  a:link,
  a:visited {
    text-decoration: underline;
  }
}

a:hover,
a:active {
  color: lighten($color-text, 30%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $spacing-small;
  font-family: $font-serif;
  font-weight: normal;
  letter-spacing: 0;
  color: $color-black;
  a:hover,
  a:active {
    color: lighten($color-black, 30%);
  }
}

h1, h2 {
  line-height: $line-height;
}

h1 {
  font-size: $font-larger;
  @include mq($from: tablet) {
    font-size: $font-largest;
  }
}

h2 {
  font-size: $font-large;
  @include mq($from: tablet) {
    font-size: $font-larger;
  }
  margin-top: $spacing-medium;
}

h3 {
  font-size: $font-medium;
  @include mq($from: tablet) {
    font-size: $font-large;
  }
}

h3, h4, h5, h6 {
  margin-bottom: $spacing-smallest;
}

p {
  margin: 0 0 $spacing-medium;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  a,
  a:link,
  a:visited {
    text-decoration: underline;
  }
}

ul, ol {
  margin-bottom: $spacing-small;
  margin-left: $spacing-small;
  padding-left: $spacing-small;
}

time {
  font-size: $font-small;
}

blockquote {
  background: lighten($color-text, 50%);
  padding: $spacing-smallest;
  margin: 0 $spacing-small $spacing-small;
  font-family: $font-serif;
  font-style: italic;
  p {
    margin: 0;
  }
}

code {
  word-wrap: break-word;
  font-family: $font-mono;
}

figure {
  width: auto;
  margin: 0 0 $spacing-small;
  padding: $spacing-smallest;
  background: $color-black-off;
  overflow: auto;
  font-family: $font-mono;
  color: $color-white;
  figcaption {
    font-size: $font-small;
  }
  table {
    width: auto;
  }
  .gutter {
    display: none;
  }
}